<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.projetoquimicaConsolidados">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.example.user.banco.InformacoesApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".VisualizacaoGraficosMenu"
            android:label="@string/title_activity_visualizacao_graficos_menu"
            android:parentActivityName=".QuizMenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.user.projetoquimicaConsolidados.QuizMenuActivity" />
        </activity>
        <activity
            android:name=".QuizMenuActivity"
            android:label="@string/title_activity_teste"
            android:parentActivityName=".MainMenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.user.projetoquimicaConsolidados.MainMenuActivity" />
        </activity>
        <activity
            android:name="com.example.user.projetoquimicaTeste.GraficoDesempenhoNivelConteudo"
            android:label="@string/title_activity_grafico_desempenho_nivel_conteudo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VisualizacaoConteudosActivity"
            android:label="@string/title_activity_lista_conteudos"
            android:parentActivityName=".QuizMenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.user.projetoquimicaConsolidados.QuizMenuActivity" />
        </activity>
        <activity
            android:name=".GraficoDesempenhoConteudo"
            android:label="@string/title_activity_grafico_desempenho_conteudo"
            android:parentActivityName=".QuizMenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.user.projetoquimicaConsolidados.VisualizacaoConteudosActivity" />
        </activity>
        <activity
            android:name=".GraficoDezQuestionariosActivity"
            android:label="GraficoDezQuestionariosActivity"
            android:parentActivityName=".QuizMenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.user.projetoquimicaConsolidados.VisualizacaoGraficosMenu" />
        </activity>
        <activity
            android:name=".GraficoNiveisPorConteudoActivity"
            android:label="GraficoNiveisPorConteudoActivity"
            android:parentActivityName=".QuizMenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.user.projetoquimicaConsolidados.GraficoNiveisPorConteudoActivity" />
        </activity>
        <activity
            android:name=".VisualizacaoDetalhadaPerguntasActivity"
            android:label="@string/title_activity_visualizacao_detalhadaaqui"
            android:parentActivityName=".QuizRelatorioActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.user.projetoquimicaConsolidados.QuizMenuActivity" />
        </activity>
        <activity
            android:name=".QuizRelatorioActivity"
            android:label="@string/title_activity_relatorio"
            android:parentActivityName=".QuizResultadoActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.user.projetoquimicaConsolidados.QuizResultadoActivity" />
        </activity>
        <activity
            android:name=".VisualizaPercursoActivity"
            android:label="@string/title_activity_visualiza_upgrade"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".QuizActivity"
            android:label="@string/title_activity_quiz_diagnostico"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FeedbackActivity"
            android:label="@string/title_activity_feedback"
            android:parentActivityName=".com.example.user.projetoquimicaFuturo.DiagnosticoActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.user.projetoquimicaConsolidados.QuizActivity" />
        </activity>
        <activity
            android:name=".com.example.user.projetoquimicaFuturo.DiagnosticoActivity"
            android:label="@string/title_activity_diagnostico"
            android:parentActivityName=".com.example.user.projetoquimicaFuturo.FiltroDiagnosticoActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.user.projetoquimicaConsolidados.com.example.user.projetoquimicaFuturo.FiltroDiagnosticoActivity" />
        </activity>
        <activity
            android:name=".com.example.user.projetoquimicaFuturo.FiltroDiagnosticoActivity"
            android:label="@string/title_activity_filtro_diagnostico"
            android:parentActivityName=".QuizMenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.user.projetoquimicaConsolidados.QuizMenuActivity" />
        </activity>
        <activity
            android:name=".VisualizacaoNiveisActivity"
            android:label="@string/title_activity_visualizacao_niveis"
            android:parentActivityName=".QuizMenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.user.projetoquimicaConsolidados.QuizMenuActivity" />
        </activity>
        <activity
            android:name="com.example.user.projetoquimicaTeste.TelaTeste"
            android:label="@string/title_activity_tela_teste"
            android:parentActivityName=".QuizMenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.user.projetoquimicaConsolidados.MainMenuActivity" />
        </activity>
        <activity
            android:name=".QuizFiltroActivity"
            android:label="@string/title_activity_filtro"
            android:parentActivityName=".QuizMenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.user.projetoquimicaConsolidados.QuizMenuActivity" />
        </activity>
        <activity
            android:name=".CadastroConteudoActivity"
            android:label="@string/title_activity_entrada_de_conteudos"
            android:parentActivityName=".QuizMenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.user.projetoquimicaConsolidados.QuizMenuActivity" />
        </activity>
        <activity
            android:name=".CadastroPerguntaActivity"
            android:label="@string/title_activity_entrada_de_perguntas"
            android:parentActivityName=".QuizMenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.user.projetoquimicaConsolidados.QuizMenuActivity" />
        </activity>
        <activity
            android:name=".CadastroUsuarioActivity"
            android:label="@string/title_activity_cadastro"
            android:parentActivityName=".MainLoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.user.projetoquimicaConsolidados.MainLoginActivity" />
        </activity>
        <activity
            android:name=".MainLoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainTipoActivity"
            android:label="@string/title_activity_menu"
            android:parentActivityName=".MainLoginActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.user.projetoquimicaConsolidados.MainLoginActivity" />
        </activity>
        <activity
            android:name=".MainMenuActivity"
            android:label="@string/title_activity_menu_principal"
            android:parentActivityName=".MainTipoActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.user.projetoquimicaConsolidados.MainTipoActivity" />
        </activity>
        <activity
            android:name=".com.example.user.projetoquimicaFuturo.ResumosActivity"
            android:label="@string/title_activity_resumos"
            android:parentActivityName=".MainMenuActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.user.projetoquimicaConsolidados.MainMenuActivity" />
        </activity>
        <activity
            android:name=".QuizResultadoActivity"
            android:label="@string/title_activity_quiz"
            android:parentActivityName=".MainMenuActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.user.projetoquimicaConsolidados.QuizMenuActivity" />
        </activity>
        <activity
            android:name=".com.example.user.projetoquimicaFuturo.TabelaPeriodicaActivity"
            android:label="@string/title_activity_tabela_periodica"
            android:parentActivityName=".MainMenuActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.user.projetoquimicaConsolidados.MainMenuActivity" />
        </activity>
        <activity
            android:name=".com.example.user.projetoquimicaFuturo.GaleriaActivity"
            android:label="@string/title_activity_galeria"
            android:parentActivityName=".MainMenuActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.user.projetoquimicaConsolidados.MainMenuActivity" />
        </activity>
        <activity
            android:name=".com.example.user.projetoquimicaFuturo.MontarCompostoActivity"
            android:label="@string/title_activity_montar_composto"
            android:parentActivityName=".MainMenuActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.user.projetoquimicaConsolidados.MainMenuActivity" />
        </activity>
        <activity
            android:name=".com.example.user.projetoquimicaFuturo.PesquisaElementoActivity"
            android:label="@string/title_activity_pesquisa_elemento"
            android:parentActivityName=".MainMenuActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.user.projetoquimicaConsolidados.MainMenuActivity" />
        </activity>
    </application>

</manifest>