<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.projetoquimicaConsolidados">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.example.user.banco.InformacoesApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.user.projetoquimicaConsolidados.VisualizacaoConteudosActivity"
            android:label="@string/title_activity_lista_conteudos"
            android:parentActivityName="com.example.user.projetoquimicaConsolidados.QuizMenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.user.projetoquimicaConsolidados.QuizMenuActivity" />
        </activity>
        <activity
            android:name="com.example.user.projetoquimicaConsolidados.GraficoDesempenhoConteudo"
            android:label="@string/title_activity_grafico_desempenho_conteudo"
            android:parentActivityName="com.example.user.projetoquimicaConsolidados.QuizMenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.user.projetoquimicaConsolidados.QuizMenuActivity" />
        </activity>
        <activity
            android:name="com.example.user.projetoquimicaConsolidados.GraficoDezQuestionariosActivity"
            android:label="GraficoDezQuestionariosActivity"
            android:parentActivityName="com.example.user.projetoquimicaConsolidados.QuizMenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.user.projetoquimicaConsolidados.QuizMenuActivity" />
        </activity>
        <activity android:name="com.example.user.projetoquimicaConsolidados.GraficoNiveisPorConteudoActivity"
            android:label="GraficoNiveisPorConteudoActivity"
            android:parentActivityName="com.example.user.projetoquimicaConsolidados.QuizMenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.user.projetoquimicaConsolidados.GraficoNiveisPorConteudoActivity"/>
        </activity>
        <activity
            android:name="com.example.user.projetoquimicaConsolidados.VisualizacaoDetalhadaPerguntasActivity"
            android:label="@string/title_activity_visualizacao_detalhadaaqui"
            android:parentActivityName="com.example.user.projetoquimicaConsolidados.QuizRelatorioActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.user.projetoquimicaConsolidados.QuizRelatorioActivity" />
        </activity>
        <activity
            android:name="com.example.user.projetoquimicaConsolidados.QuizRelatorioActivity"
            android:label="@string/title_activity_relatorio"
            android:parentActivityName="com.example.user.projetoquimicaConsolidados.QuizResultadoActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.user.projetoquimicaConsolidados.QuizResultadoActivity" />
        </activity>
        <activity
            android:name="com.example.user.projetoquimicaConsolidados.VisualizaPercursoActivity"
            android:label="@string/title_activity_visualiza_upgrade"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.user.projetoquimicaConsolidados.QuizActivity"
            android:label="@string/title_activity_quiz_diagnostico"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.user.projetoquimicaConsolidados.FeedbackActivity"
            android:label="@string/title_activity_feedback"
            android:parentActivityName="com.example.user.projetoquimicaConsolidados.com.example.user.projetoquimicaFuturo.DiagnosticoActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.user.projetoquimicaConsolidados.QuizActivity" />
        </activity>
        <activity
            android:name="com.example.user.projetoquimicaConsolidados.com.example.user.projetoquimicaFuturo.DiagnosticoActivity"
            android:label="@string/title_activity_diagnostico"
            android:parentActivityName="com.example.user.projetoquimicaConsolidados.com.example.user.projetoquimicaFuturo.FiltroDiagnosticoActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.user.projetoquimicaConsolidados.com.example.user.projetoquimicaFuturo.FiltroDiagnosticoActivity" />
        </activity>
        <activity
            android:name="com.example.user.projetoquimicaConsolidados.com.example.user.projetoquimicaFuturo.FiltroDiagnosticoActivity"
            android:label="@string/title_activity_filtro_diagnostico"
            android:parentActivityName="com.example.user.projetoquimicaConsolidados.QuizMenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.user.projetoquimicaConsolidados.QuizMenuActivity" />
        </activity>
        <activity
            android:name="com.example.user.projetoquimicaConsolidados.VisualizacaoNiveisActivity"
            android:label="@string/title_activity_visualizacao_niveis"
            android:parentActivityName="com.example.user.projetoquimicaConsolidados.QuizMenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.user.projetoquimicaConsolidados.QuizMenuActivity" />
        </activity>
        <activity
            android:name="com.example.user.projetoquimicaTeste.TelaTeste"
            android:label="@string/title_activity_tela_teste"
            android:parentActivityName="com.example.user.projetoquimicaConsolidados.QuizMenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.user.projetoquimicaConsolidados.MainMenuActivity" />
        </activity>
        <activity
            android:name="com.example.user.projetoquimicaConsolidados.QuizFiltroActivity"
            android:label="@string/title_activity_filtro"
            android:parentActivityName="com.example.user.projetoquimicaConsolidados.QuizMenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.user.projetoquimicaConsolidados.QuizMenuActivity" />
        </activity>
        <activity
            android:name="com.example.user.projetoquimicaConsolidados.QuizMenuActivity"
            android:label="@string/title_activity_quiz_cadastro"
            android:parentActivityName="com.example.user.projetoquimicaConsolidados.MainMenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.user.projetoquimicaConsolidados.MainMenuActivity" />
        </activity>
        <activity
            android:name="com.example.user.projetoquimicaConsolidados.CadastroConteudoActivity"
            android:label="@string/title_activity_entrada_de_conteudos"
            android:parentActivityName="com.example.user.projetoquimicaConsolidados.QuizMenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.user.projetoquimicaConsolidados.QuizMenuActivity" />
        </activity>
        <activity
            android:name="com.example.user.projetoquimicaConsolidados.CadastroPerguntaActivity"
            android:label="@string/title_activity_entrada_de_perguntas"
            android:parentActivityName="com.example.user.projetoquimicaConsolidados.QuizMenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.user.projetoquimicaConsolidados.QuizMenuActivity" />
        </activity>
        <activity
            android:name="com.example.user.projetoquimicaConsolidados.CadastroUsuarioActivity"
            android:label="@string/title_activity_cadastro"
            android:parentActivityName="com.example.user.projetoquimicaConsolidados.MainLoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.user.projetoquimicaConsolidados.MainLoginActivity" />
        </activity>
        <activity
            android:name="com.example.user.projetoquimicaConsolidados.MainLoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.user.projetoquimicaConsolidados.MainSplashScreenActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.user.projetoquimicaConsolidados.MainTipoActivity"
            android:label="@string/title_activity_menu"
            android:parentActivityName="com.example.user.projetoquimicaConsolidados.MainLoginActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.user.projetoquimicaConsolidados.MainLoginActivity" />
        </activity>
        <activity
            android:name="com.example.user.projetoquimicaConsolidados.MainMenuActivity"
            android:label="@string/title_activity_menu_principal"
            android:parentActivityName="com.example.user.projetoquimicaConsolidados.MainTipoActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.user.projetoquimicaConsolidados.MainTipoActivity" />
        </activity>
        <activity
            android:name="com.example.user.projetoquimicaConsolidados.com.example.user.projetoquimicaFuturo.ResumosActivity"
            android:label="@string/title_activity_resumos"
            android:parentActivityName="com.example.user.projetoquimicaConsolidados.MainMenuActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.user.projetoquimicaConsolidados.MainMenuActivity" />
        </activity>
        <activity
            android:name="com.example.user.projetoquimicaConsolidados.QuizResultadoActivity"
            android:label="@string/title_activity_quiz"
            android:parentActivityName="com.example.user.projetoquimicaConsolidados.MainMenuActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.user.projetoquimicaConsolidados.MainMenuActivity" />
        </activity>
        <activity
            android:name="com.example.user.projetoquimicaConsolidados.com.example.user.projetoquimicaFuturo.TabelaPeriodicaActivity"
            android:label="@string/title_activity_tabela_periodica"
            android:parentActivityName="com.example.user.projetoquimicaConsolidados.MainMenuActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.user.projetoquimicaConsolidados.MainMenuActivity" />
        </activity>
        <activity
            android:name="com.example.user.projetoquimicaConsolidados.com.example.user.projetoquimicaFuturo.GaleriaActivity"
            android:label="@string/title_activity_galeria"
            android:parentActivityName="com.example.user.projetoquimicaConsolidados.MainMenuActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.user.projetoquimicaConsolidados.MainMenuActivity" />
        </activity>
        <activity
            android:name="com.example.user.projetoquimicaConsolidados.com.example.user.projetoquimicaFuturo.MontarCompostoActivity"
            android:label="@string/title_activity_montar_composto"
            android:parentActivityName="com.example.user.projetoquimicaConsolidados.MainMenuActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.user.projetoquimicaConsolidados.MainMenuActivity" />
        </activity>
        <activity
            android:name="com.example.user.projetoquimicaConsolidados.com.example.user.projetoquimicaFuturo.PesquisaElementoActivity"
            android:label="@string/title_activity_pesquisa_elemento"
            android:parentActivityName="com.example.user.projetoquimicaConsolidados.MainMenuActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.user.projetoquimicaConsolidados.MainMenuActivity" />
        </activity>

    </application>

</manifest>